{% extends 'body.html' %} 
{% load static%} 
{% load widget_tweaks %}
{% block head %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Sweetalert2 -->
    <script src="{% static 'plugins/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>




{% endblock head %}

 {% block content %}
<form id= "frmBooking" method="POST" class= "BookingForm" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="action" value={{action}}>
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-plus"></i>
        {{title}}
      </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <ul>
        <li>
           {{form.BookingClientId.label}}{{form.BookingClientId}}  
            <button class="btn btn-flat btnAddClient btn-success" alt="Añadir" type="button">
            <i class="fas fa-user-plus"></i>
        </button>        
        </li>
        <li>
            {{form.RoomsId.label}}{{form.RoomsId}}
        </li>
        <li>
            {{form.DateCheckIn.label}}{{form.DateCheckIn}}
        </li>
        <li>
            {{form.DateCheckOut.label}}{{form.DateCheckOut}}
        </li>
        <li>
            {{form.no_of_guests.label}}{{form.no_of_guests}}
        </li>
        <li>
           {{form.Prepaid.label}}{{form.Prepaid}}
        </li>
        <li>
           {{form.AubscriberMount.label}}{{form.AubscriberMount}}
        </li>
        <li>
           {{form.Is_Active.label}}{{form.Is_Active}}
        </li>
        <li>
           {{form.check_out.label}}{{form.check_out}}
        </li> 
        <li>
            {{form.HotelsId.label}}{{form.HotelsId}}
        </li>

      {% comment %}
      <button
        type="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#modal-container-628383"
      >
        Ceacion de reserva
      </button>
      {% endcomment %}

      {% comment %} <a
        class="related-widget-wrapper-link add-related btnAddClient"
        {% comment %} href="{% url 'ClientCreate' %}" {% endcomment %}
        {% comment %} title="Añadir otro cliente" {% endcomment %}
        {% comment %} data-toggle="modal"
        data-target="#myModalClient"
        > {% endcomment %}
</ul>
    </div>
    <div class="card-footer">
      <button class="btn-primary btn-flat" type="submit">
        <i class="fas fa-save"></i> Guardar registro
      </button>
    </div>
  </div>
</form>

  <form id ="frmClients" method="post" enctype="multipart/form-data" class="ClientForm" >
    {% csrf_token %}
    <input type="hidden" name="action" value={{action}}>
    <div
      class="modal fade"
      id="myModalClient"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">
              <i class="fas fa-plus"></i>
              Creacion de nuevos clientes
            </h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            {{frmClient.Name.label}} {{frmClient.Name}}<br />
            {{frmClient.LastName.label}} {{frmClient.LastName}}<br />
            {{frmClient.Rut.label}} {{frmClient.Rut}}<br />
            {{frmClient.Address.label}} {{frmClient.Address}}<br />
            {{frmClient.Phone.label}} {{frmClient.Phone}}<br />
            {{frmClient.Email.label}} {{frmClient.Email}}<br />
            {{frmClient.Nationality.label}} {{frmClient.Nationality}}<br />

       <br />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary"  name='action' >
              Guardar registro
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% comment %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{form}}
  <button type="submit">Guardar</button>
</form>
{% endcomment %} 
{% endblock content %}
    {% block javascript %}


    {% endblock javascript %}